.team-wrapper {
    width: 20%;
}

.team-list > li {
    background-color: #eee;
    border: 1px solid #eee;
    box-shadow: 3px 3px 10px 0px #eee;
    margin-bottom: 10px;
    padding: 10px;
}
.team-list > li > span {
    font-size: 20px;
    font-weight: bold;
}

.emp-list li {
    margin: 0px 10px;
    border-bottom: 1px solid #aaa;
    padding: 10px 0px;
}

.emp-list li p {
    margin: 5px 0px;
}