.task-wrapper {
    width: 35%;
}
.task-wrapper .input-group {
    margin-bottom: 15px;
}
.task-wrapper .input-group label {
    display: block;
    margin-bottom: 5px;
}

.task-wrapper .input-group input,
.task-wrapper .input-group select,
.task-wrapper .input-group textarea {
    width: 100%;
    height: 40px;
    border: 1px solid #eee;
    box-shadow: 3px 3px 10px 0px #eee;
    padding-left: 12px;
}

.task-wrapper button {
    width: 50%;
    background-color: #1F74BA;
    height: 50px;
    border: 1px solid #1F74BA;
    color: #fff;
}