<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>

    <h1>Campus Management System</h1>

    <ul>
        <li>
            <a href="/admin">Admin</a>
        </li>
        <li>
            <a href="/admin/studentOperations">Student Login</a>
        </li>
        <li>
            <a href="/admin/facultyOperations">Faculty Login</a>
        </li>
    </ul>

    <hr>

    <input type="text" placeholder="Type student name" id="search"/>
    <ul id="results">

    </ul>

    
    <script>
        const searchInput = document.querySelector("#search");
        const resultList = document.querySelector("#results");

        searchInput.addEventListener("input", async () => {
            const query = searchInput.value.trim();
            if(query.length === 0) {
                resultList.innerHTML = "";
                return;
            }
            try {
                const response = await fetch(`/search?text=${encodeURIComponent(query)}`);
                const data = await response.json();
                console.log("data :",data);
                showData(data);
            } catch(error) {
                console.error("Unable to fetch data...",error);
            }
        })

        function showData(data) {
            resultList.innerHTML = "";
            data.forEach(obj => {
                const li = document.createElement("li");
                li.textContent = `${obj.s_name} - ${obj.s_course}`;
                resultList.appendChild(li);
            });
        }

    </script>
    
</body>
</html>