p {
    margin: 0px;
}
form {
    width: 500px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 4px;
}
.form-group input {
    width: 100%;
    margin-bottom: 4px;
    height: 30px;
    padding-left: 10px;
}