body {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-evenly;
}