<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %> | CamU
    </title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>

    <header>
        <h1>Campus Management System</h1>
    </header>

    <nav id="main-nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/admin">Admin</a>
            </li>
            <li>
                <a href="/faculty">Faculty Login</a>
            </li>
            <li>
                <a href="/student">Student Login</a>
            </li>
            <li>
                <a href="/about">About Us</a>
            </li>
        </ul>
    </nav>
    