<%- include('includes/header.ejs') %>

    <h3>Admin Page</h3>

    <h1>This is Admin Panel</h1>
    <a href='/admin/studentOperations'>Student Operations</a> | 
    <a href='/admin/facultyOperations'>Faculty Operations</a>
    
<%- include('includes/footer.ejs') %>