<%- include('includes/header.ejs') %>

    <h3>Add New Faculty</h3>
    <form action='/addNewFaculty' method='post'>
        <label>Enter Student Name</label>
        <input type='text' placeholder='Enter student name'/>
        <button type='submit'>Add New Student</button>
    </form>
    
<%- include('includes/footer.ejs') %>