<%- include('includes/header.ejs') %>

    <h2>New student added</h2>
    <ul>
        <% if(studentsList.length > 0) {%>
            <% for (let student of studentsList) {%>
                <li>
                    <%= student.studentName %>
                </li>
            <% } %>
        <% } else { %>
            <h3>No Students Found...</h3>
        <% } %>
    </ul>
    
<%- include('includes/footer.ejs') %>