.emp-wrapper {
    width: 40%;
}
.emp-wrapper .input-group {
    margin-bottom: 15px;
}
.emp-wrapper .input-group label {
    display: block;
}
.emp-wrapper .input-group input,
.emp-wrapper .input-group select {
    height: 40px;
    padding-left: 10px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3);
}
.emp-wrapper button {
    width: 50%;
    height: 40px;
    background-color: #0077B5;
    color: #fff;
    border: none;
}