.team-wrapper {
    width: 20%;
}
.team-list > ul > li {
    background-color: #eee;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 8px;
}

.team-list .emp-list p {
    margin: 8px 0px;
}.team-list .emp-list li {
    margin-bottom: 20px;
    padding-left: 15px;
    font-weight: normal;
}